@import url('https://fonts.googleapis.com/css?family=Dokdo');

body {
    height: 100vh;
    font-family: Dokdo, serif;
}

#result {
    display: none;
}

.bg-defile-right {
    background-image: url('frise.png');
    background-repeat: repeat-x;
    animation: slideright 20000s infinite linear;
}


@keyframes slideright {
    from { background-position: 0%; }
    to { background-position: 90000%; }
}

.header {
    background-color: #EDD445;
    grid-area: header;
}

.title {
    background-color: #d6ae49;
    grid-area: title;
}

.h1-a {
    font-size: 4em;
    color: #E6652E;
}

.footer {
    background-color: #EDD445;
    grid-area: footer;
}

.main {
    background-color: antiquewhite;
}

.choose-area {
    grid-area: choose;
    padding-top: 20px;
    color: #613910;
}
.battle-area {
    grid-area: battle;
    margin: 70px 30px;
    position: relative;

}

.battleAnimation {
    display: none;
    position: absolute;
    right: 25%;
    top: 18%;
}

.battleText {
    display: none;
    font-size: 5em;
    color: #E6652E;
    position: absolute;
    right: 28%;
    top: 35%;
}

.result-area {
    grid-area: result;
    margin: 20px 30px;
    color: #613910;
    font-size: 2em;

}

.score {
    font-size: 1.5em;
    text-align: center;
}

.win {color: forestgreen;}
.lost {color: #B22222;}
.tied {color: dimgrey;}


.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 0.6fr 0.8fr 1.3fr 1.3fr 0.6fr;
    grid-template-rows: 0.5fr 0.4fr 2.7fr 0.5fr;
    grid-template-areas: "header header header header header" "title title title title title" ". choose battle result ." "footer footer footer footer footer";
    background-color: antiquewhite;
}

.slideshow {
    width: 100%;
    overflow: hidden;
    border: 0px;

}

.slideshow ul {
    /* 4 images donc 4 x 100% */
    width: 400%;
    padding:0; margin:0;
    list-style: none;

}
.slideshow li {
    float: left;

}

ul {
    list-style-type: none;
}


.rotate {
    animation: rotation 5s infinite linear;
    width: 100%;
}


@keyframes rotation {
    from {
        /*transform: rotate(0deg);*/
        transform: rotate(0deg) scale(1);
    }
    to {
        /*transform: rotate(359deg);*/
        transform: rotate(359deg) scale(1.6);
    }
}
